/* Created by: Emma Janani
* Created on: April 2022
* This CSS file defines the style for index.html
* ICS2O-Unit3-02-PHP-VolumePyramid
*/

body {
	background-color: #b4f9ce;
}

h1 {
	background-color: #73c9a4;
	color: hsl(0, 0%, 0%);
	padding: 40px;
	text-align: center;
}

div {
	
  font-weight: bold;
  color: #050505;
  margin: 5px;
}
